.wrapper{
    height: 100vh;
    width: auto;
}

.div{
    width: 70px;
    height: 568px;
    background-color: gray;
}

.header{
    padding: 21px 0;
}

.main{
    width: 100%;
    transition: all .5s ease;
}


.hide{
    opacity: 0;
}

.show{
    opacity:1;
}