@import '../../global.scss';
.show{
    visibility: visible;
    opacity: 1;
}

.hide{
    visibility: hidden;
    opacity: 0;
}
.scrollbar-wrapper{
    transition: all 1s ease;
    position: relative;
    left: -85px;
    width: 200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .line{
      position: absolute;
      width: 5px;
      height: 100%;
      background-color: rgb(19, 18, 18);
    }
    span{
      display: block;
      width: 20px;
    }
    span:nth-child(3){
      transform: translateX(10px);
    }
    
    a{
      display: flex;
      color: white;
      align-items: center;
      text-decoration: none !important;
      transition: all .5s ease;
      font-weight: bold;
    }
    .o{
      width: 5px;
      height: 5px;
      background-color: black;
      position: relative;
      z-index: 2;
    }
    a.active{
      color: $auxiliaryBgClr ;
      span.o{
        background-color: $auxiliaryBgClr;
      }
    }
  }

  .line{
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: rgb(19, 18, 18);
  }