$bgClr:  #0c0c0c;
$txtClr:#ffffff;
$auxiliaryBgClr:#0f33ff;
.about{
  font-weight: 300;
}

.title{
  position: relative;
  max-width: 433px;
  max-height: 215px;
  left: 154px;
  top: 50px;
  h2{
    font-size: 82px;
    line-height: 72px;
    font-weight: 900;
    letter-spacing: 0.025rem;
  }
}

.iconCard{
  transition: all 2s ease;
  border: 2px solid $auxiliaryBgClr;
  width: 200px;
  height: 100px;
  text-align: center;
  h6,span{
    transition: all 2s ease;
  }
  span{
    opacity: 0;
    display: block;
  }
  &:hover{
    transform: rotateY(160deg);
    cursor: pointer;
    h6{
      opacity: 0;
    }
    span{
      opacity: 1;
      transform: rotateY(160deg);
    }
  }
}
.iconCardWrapperClassName{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $auxiliaryBgClr;
  width: 220px;
  height: 120px;
  margin: 0 10px;
}
.iconCards{
    transition: all .5s ease;
    width: 300px;
    display: flex;
    position: relative;
    left: 154px;
    top: -40px;
}

.button{
  margin-top: 54px;
  background-color:transparent;
  border: none;
  color: $txtClr;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: 0.05em;
  width: 50px;
  white-space: nowrap;
  margin-left: 50px;
  width: 100px;
  position: relative;
  z-index: 12;
  span{
    transition:all 1s ease;
    z-index: -1;
    position: absolute;
    top: 0;
    right: -25px;
    display: block;
    width: 70%;
    height: 100%;
  }
  &:hover>span{
      right: -35px;
  }
}