@import '../../global.scss';

.home{
  position: relative;
  height: 100%;
  font-weight: 300;
}

.titleWrapper{
  height: 100%;
  border-bottom: 2px solid $auxiliaryBgClr;
}

.title{
  max-width: 433px;
  height: 300px;
  width: 100%;
  h1{
    @include font-responsive(24px,58,321px,1200);
    line-height: 100%;
    font-weight: 900;
    letter-spacing: 0.025rem;
    text-align: center;
  }
}

.cards{
    display: flex;
    flex-direction: column;
}

.button{
  display: block;
  margin-top: 54px;
  background-color:transparent;
  border: none;
  color: $txtClr;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: 0.05em;
  width: 50px;
  white-space: nowrap;
  margin-left: 50px;
  width: 100px;
  position: relative;
  z-index: 12;
  span{
    transition:all 1s ease;
    z-index: -1;
    position: absolute;
    top: 0;
    right: -25px;
    display: block;
    width: 70%;
    height: 100%;
  }
  &:hover>span{
      right: -35px;
  }
}
.cosmonautContainer{
  @include media(2){
    display: none;   
  }
}
.cosmonaut{
  width: 100%;
  max-width: 600px;
  @include media(2){
    display: none;   
  }
}