@import '../../global.scss';

.home{
  position: relative;
  height: 100%;
  font-weight: 300;
}

.title{
  position: relative;
  max-width: 433px;
  max-height: 215px;
  width: 100%;
  left: 0;
  top: 50px;
  z-index: 100;
  h1{
    // font-size: 82px;
    @include font-responsive(24px,58,321px,1200);
    @include media(0){
    };
    line-height: 72px;
    font-weight: 900;
    letter-spacing: 0.025rem;
  }
}

.cards{
  position: absolute;
  bottom: 0;
  border-top: 2px solid $auxiliaryBgClr;
}

.button{
  margin-top: 54px;
  background-color:transparent;
  border: none;
  color: $txtClr;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: 0.05em;
  width: 50px;
  white-space: nowrap;
  margin-left: 50px;
  width: 100px;
  position: relative;
  z-index: 12;
  span{
    transition:all 1s ease;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 70%;
    height: 100%;
  }
  &:hover>span{
      width: 100%;
  }
}
.cosmonautContainer{
  // position: relative;
}
.cosmonaut{
  // position: absolute;
  width: 100%;
  height: auto;
  max-width: 600px;
  position: relative;
  top: 50px;
}
// @include media(largeDesktop){

// }
// @include media(smallDesktop){}
// @include media(handhelds){}
// @include media(handhelds-landscape){}
// @include media(mobile){}
// @include media(mobile-portrait){}
// @include media(mobile-landscape){}
// @include media(retina){}
// @include media(iphone5){
//   .title{
//     max-width: 333px;
//     max-height: 215px;
//     left: 54px;
//     top: 50px;
//     h1{
//       font-size: 22px;
//       line-height: 22px;
//       font-weight: 900;
//     }
//   }
// }