$bgClr:  #0c0c0c;
$txtClr:#ffffff;
$auxiliaryBgClr:#0f33ff;

.work{
    transition: all 2s ease;
}

.title{
    text-align: center;
}

.content{
    margin-top: 100px;
}

.button{
    color: $txtClr;
    display: block;
    margin: 0 auto;
    background-color: $auxiliaryBgClr;
    border: none;
    position: relative;
    top: -35px;
}

.CarouselProvider{
    width: 1000px;
    padding: 0 50px;
    margin: 0 auto;
}


